body {
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: <weight> ;
    font-style: normal;
    background-color: #231225;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e2935;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

button {
    background-color: white;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

button:hover {
    background-color: #007bff;
    color: white;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.video-container {
  background-color: #302727;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

.video-container p {
  color: #ffffff; /* Reemplaza #ff0000 con el color que desees */
  font-size: 22px;  /* Ajusta el tamaño del texto si es necesario */
  /* cambiar fuetne*/
  font-family: "Space Grotesk", sans-serif;
   

}
